#!/usr/bin/env bash

### Формат даты для имен
NOW=$(date +"%Y-%m-%d-%H-%M-%S")
### Путь для локального бэкапа базы данных
DIRBACKUPDATABASE="/mnt/data/{{ backup_folder }}"
### MySQL Setup
DB_HOST={{ b_db_host }}
DB_USERNAME={{ b_db_username }}
DB_DATABASE={{ b_db_database }}
DB_PASSWORD={{ b_db_password }}

### Создаем бэкап базы данных MySQL
/usr/bin/mysqldump --insert-ignore --skip-lock-tables --single-transaction=TRUE --no-tablespaces -h $DB_HOST -u $DB_USERNAME -p$DB_PASSWORD $DB_DATABASE > $DIRBACKUPDATABASE/mysql-$NOW.sql
### Архивируем бэкап базы данных MySQL
#/bin/tar -czf $DIRBACKUPDATABASE/mysql-$NOW.sql.tar.gz $DIRBACKUPDATABASE/mysql-$NOW.sql
### Удаляем бэкап MySQL
#/bin/rm -f $DIRBACKUPDATABASE/mysql-$NOW.sql

### Удаляем бэкапы старше 14 дней
/usr/bin/find $DIRBACKUPDATABASE/mysql-* -mtime 14 -exec rm {} \;
