    
    server {
        listen 80;
        server_name {{ site_name }};
        
        include conf.d/letsencrypt.conf;

        return 301 https://$host$request_uri;
    }

    server {
        listen 443 ssl http2;
        server_name {{ site_name }};
        
#        include conf.d/auth_{{ site_name }}.conf;

        ssl_certificate certs/fullchain.pem;
        ssl_certificate_key certs/privkey.pem;

        include conf.d/ssl.conf;

        access_log /var/log/nginx/{{ site_name }}_access.log;
        error_log /var/log/nginx/{{ site_name }}_error.log;

        include conf.d/letsencrypt.conf;

        location / {
            proxy_pass http://app;
#            proxy_pass http://{{ host_d01 }}:8080;
#            proxy_pass http://{{ host_d02 }}:8080;

            proxy_set_header Host $host;
            proxy_set_header X-Forwarded-Proto $scheme;

        }
    }
